
<h1>Bubble Plot</h1>
<hr />
<a ng-click="bubblePlotCtrl.navBar.changeState('homepage')"><i class="fa fa-angle-double-right"></i> Back to homepage</a>


<div class="row m-x-0 m-t-1">

  <!-- <input ng-model="bubblePlotCtrl.geneName" class="form-control width-300"> -->

  <!-- Gene Name -->
  <md-input-container class="md-block">
    <md-icon class="text-center"><i class="fa fa-leaf fa-lg green"></i></md-icon>
    <input class="width-300"
           ng-model="bubblePlotCtrl.geneName"
           placeholder="Gene Name"
           ng-required="true">
  </md-input-container>


  <!-- Y-axis Field -->
  <md-input-container class="md-block">
    <md-icon class="text-center"><i class="fa fa-tag fa-lg green"></i></md-icon>
    <label>Y-axis Field</label>
    <md-select class="width-300" ng-model="bubblePlotCtrl.yField">
      <md-option ng-repeat="field in bubblePlotCtrl.fieldList" ng-value="field">
        {{field}}
      </md-option>
    </md-select>
  </md-input-container>


  <!-- Color Field -->
  <md-input-container class="md-block">
    <md-icon class="text-center"><i class="fa fa-paint-brush fa-lg green"></i></md-icon>
    <label>Color Field</label>
    <md-select class="width-300" ng-model="bubblePlotCtrl.colorField">
      <md-option ng-repeat="field in bubblePlotCtrl.fieldList" ng-value="field">
        {{field}}
      </md-option>
    </md-select>
  </md-input-container>



  <!-- Submit Button -->
  <md-button class="md-raised md-primary m-t-1"
             ng-click="bubblePlotCtrl.refershBubblePlot()"
             ng-disabled="bubblePlotCtrl.drawBtnBusy || bubblePlotCtrl.geneName == '' || bubblePlotCtrl.yField == '' || bubblePlotCtrl.colorField == ''">
    <span ng-if="!bubblePlotCtrl.drawBtnBusy"><i class="fa fa-paint-brush"></i> Draw</span>
    <span ng-if="bubblePlotCtrl.drawBtnBusy"><i class="fa fa-spin fa-spinner"></i> Draw</span>
  </md-button>

</div>

<div id="bubblePlotDiv" style="width: 480px; height: 400px;"></div>
