<h1>UI Elements</h1>
<hr />

<div class="row m-x-0">

  <!------------------------------------------------------------------------>
  <!-- Buttons -->
  <!------------------------------------------------------------------------>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Buttons</h3>
    </div>
    <div class="panel-body">

      <md-button>Regular Button</md-button>
      <md-button class="md-primary">Primary</md-button>
      <md-button class="md-warn">Warn</md-button>
      <md-button ng-disabled="true">Disabled</md-button>

      <br /><br />

      <md-button class="md-raised">Raised Button</md-button>
      <md-button class="md-raised md-primary">Primary</md-button>
      <md-button class="md-raised md-warn">Warn</md-button>
      <md-button ng-disabled="true" class="md-raised">Disabled</md-button>

      <br /><br />

      <md-button class="md-fab">Fab</md-button>
      <md-button class="md-fab md-primary"><i class="fa fa-home fa-lg"></i></md-button>
      <md-button class="md-fab md-warn"><i class="fa fa-flask fa-lg"></i></md-button>
      <md-button class="md-fab md-warn" ng-disabled="true"><i class="fa fa-ban fa-lg"></i></md-button>

      <md-button class="md-fab md-mini">sm</md-button>
      <md-button class="md-fab md-mini md-primary"><i class="fa fa-home"></i></md-button>
      <md-button class="md-fab md-mini md-warn"><i class="fa fa-flask"></i></md-button>
      <md-button class="md-fab md-mini md-warn" ng-disabled="true"><i class="fa fa-ban"></i></md-button>

      <br /><br />

      <md-button ng-href="http://www.google.com" target="_blank">Link</md-button>
      <md-button ng-href="http://www.google.com" class="md-raised md-primary" target="_blank">Link</md-button>

    </div>
  </div>


  <md-input-container class="md-block">
    <md-icon class="text-center"><i class="fa fa-user fa-lg"></i></md-icon>
    <input placeholder="Email (required)" ng-required="true">
  </md-input-container>



</div>
